<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>login - Tastebuds</title>
</head>
<body>
    <h1>login in your accounts</h1>

    {% if error_msg %}
        <p style="color: red;"><strong>{{ error_msg }}</strong></p>
    {% endif %}

    <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %} <p>
            <label for="username">username:</label>
            <input type="text" name="username" id="username" required />
        </p>
        <p>
            <label for="password">password:</label>
            <input type="password" name="password" id="password" required />
        </p>

        <input type="submit" value="login" />
    </form>

    <p> <a href="{% url 'accounts:register' %}">register</a></p>
</body>
</html>